/* body{ 
    height: 100vh;
    width: 100vw;
} */
.main {
    width: 100%;
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
    width: 100%;

    padding-bottom: 15px;
    padding-top: 5px;
}

/* .basediv {
    background: 0 0;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: 0;
} */
.preview__header{
    background-color: black;
    top: 0%;
    height: 100%;
    width: 100%;
    position: sticky;
    margin-bottom: 0px;
    padding-top: 2%;
}
.header-envato_market{
    color: white;
}

.header {
    position: relative;
    top: 20%;
    left: 10%;
    overflow: hidden;
    margin-top: 2%;
    margin-bottom: -40px;
    background-color: white;
    height: 70px;
    width: 80%;
    text-align: center;
    border-radius: 4px;
    position:sticky;


}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 15px;
    font: menu;
    position: sticky;
    margin-top: 6px;
    font-size: inherit;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.header a:hover {
    background-color:cornflowerblue;
}

.header-right {
    float: right;
}