
.MidLayer{
    background-image: url(../images/img4.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;    
}
.font-textmanage{
    padding-top: 300px;
    color:floralwhite;
    font-size:xx-large;
    font-weight: 700;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
/* .inputbox{
    width: 100vw;
    padding: 20px;
    align-items: center;
    background-color: #7F669D;
} */